.context-menu-mask {
    z-index: 9998;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.context-menu {
    position: fixed;
    z-index: 9999;
    min-width: 200px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
    min-height: 10px;

    border-radius: 5px;
    border: 1px solid #aaa;

    background: rgba(200, 200, 200, 0.8);
    backdrop-filter: blur(10px);
    padding: 5px 3px 5px 3px;

    transition: opacity 0.5s;
}

.context-menu.shown {
    opacity: 1;
}

.context-menu.hidden {
    opacity: 0;
}

.context-menu a {
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    color: black;
    padding: 3px 10px 3px 10px;
    margin: 0;
    border-radius: 5px;
    cursor: default;
}

.context-menu a:hover {
    background: #5555ff;
    color: white;
}

.context-menu a[aria-disabled] {
    color: #888;
}

.context-menu a[aria-disabled]:hover {
    background: transparent;
}

.context-menu hr {
    border: none;
    border-bottom: 1px solid #aaa;
}

@media (prefers-color-scheme: dark) {
    .context-menu hr {
        border-bottom: 1px solid #555;
    }
}