.pwdi {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10086;
    background: rgba(0,0,0,0.8);
}

.pwdi .dialog {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    left: 50%;
    height: 220px;
    width: 400px;
    border: 1px solid #ccc;
    background: rgba(233,233,233,0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-box-shadow: 2px 3px 24px -8px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 3px 24px -8px rgba(0,0,0,0.5);
    box-shadow: 2px 3px 24px -8px rgba(0,0,0,0.5);
    font-size: 12px;
}

.pwdi .dialog {
    border-radius: 5px;
}

.pwdi .dialog .title {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
    margin: 0;
    font-weight: bold;
}

.pwdi .dialog .ctnt {
    height: 130px;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    font-size: 13px !important;
    text-align: center;
}

.pwdi .dialog .ctnt * {
    font-size: 13px !important;
}

.pwdi .dialog input[type=text],
.pwdi .dialog input[type=password],
.pwdi .dialog input[type=button],
.pwdi .dialog input[type=submit],
.pwdi .dialog button {
    height: 20px;
    background: rgba(100,100,100,0.3);
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 3px;
    font-size: 13px;
}

.pwdi .dialog input[type=text],
.pwdi .dialog input[type=password] {
    width: 100%;
    border-radius: 7px;
    padding: 6px;
}

.pwdi .dialog input[type=button].primary,
.pwdi .dialog input[type=submit].primary,
.pwdi .dialog button.primary {
    padding: 5px 15px 5px 15px;
    height: initial;
    color: white;
    background: #5555ff;
}

.pwdi .dialog  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #888;
    opacity: 1; /* Firefox */
}

.pwdi .dialog  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #888;
}

.pwdi .dialog  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #888;
}
.pwdi .dialog input[type=button].primary:active,
.pwdi .dialog input[type=submit].primary:active,
.pwdi .dialog button.primary:active {
    background: #8888ff;
}

.pwdi .dialog input[type=button].primary:disabled,
.pwdi .dialog input[type=submit].primary:disabled,
.pwdi .dialog button.primary:disabled {
    background: #888;
}

@media screen and (max-width: 500px) {
    .pwdi .dialog {
        transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        top: initial;
        bottom: 0;
        left: 0;
        border-radius: 0;
        border: none;
        border-top: 1px solid #aaa;
        width: 100%;
    }

    .pwdi .dialog .title {
        font-size: 19px;
        height: 45px;
        line-height: 45px;
    }

    .pwdi .dialog {
        height: 550px;
    }

    .pwdi .dialog .ctnt * {
        font-size: 15px !important;
    }

    .pwdi .dialog input[type=button],
    .pwdi .dialog input[type=submit],
    .pwdi .dialog button.primary {
        font-size: 16px !important;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}