/* 亮色模式默认白色背景 */
.preview-with-navbar {
    background-color: #fff;
}

.preview-hidden-navbar {
    background: #fff;
}

div.nav .backtext {
    margin-left: 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.backtext:active {
    color: #aaaaff;
}

.preview-photo-base {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.preview-photo-high-res {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.preview-bg {
    background-repeat: no-repeat;
    background-position: center;
}

.preview-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}