@media screen and (max-width: 1100px) {
    .hidden-btn {
        display: none;
    }
}

.list_img {
    position: absolute;
    top:8px;
    left: -6px;
    background-color: white;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-size: cover;
}

/* People display */
.sidebar-container div.people-list {
    width: 95%;
    padding-left: 5%;
    margin-bottom: 10px;
}

.sidebar-container div.people-list div.people {
    display: inline-block;
    width: 28%;
    padding-top: 28%;
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 2%;
    position: relative;
    border-radius: 50%;
    border: 3px solid transparent;
    cursor: pointer;
}

.sidebar-container div.people-list div.people:hover {
    opacity: 0.9;
}

.sidebar-container div.people-list div.people.selected {
    border: 3px solid #5555ff;
    opacity: 0.9;
}

@media screen and (max-width: 500px) {
    .sidebar-container div.people-list div.people.selected {
        border: 3px solid transparent;
    }
}